{% extends "base.html"%}

{% block content %}



<div class="container text-center">
    <form method="POST" class="mx-5">
        {{ form.hidden_tag() }}
        {{ form.username.label }}
        {{ form.username(class="form-control my-3", placeholder="Enter your username") }}
        {{ form.password.label }}
        {{ form.password(class="form-control my-3", placeholder="Enter your password") }}
        {{ form.submit(class="btn btn-primary my-3") }}
    </form>
</div>

{% endblock %}
