<nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin-bottom: 0;">
    <div class="container-fluid">
        <a href="https://www.tbceducation.ge/"> <img src="/static/tbc.png"</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                <li class="nav-item">
                    <a class="nav-link" href="/post">Post</a>
                    {%else%}
                <li class="nav-item">
                    <a class="nav-link" href="/Registration">Registration</a>
                <li class="nav-item">
                    <a class="nav-link" href="/Login">Log in</a>
                <li class="nav-item">
                    <a class="nav-link" href="/post">Post</a>
                    {% endif %}
                {% if current_user.role=="Admin" %}
                <li class="nav-item">
                    <a class="nav-link" href="/AdminOnly">Admin</a>
                    {% else %}
                <li class="nav-item">
                    <a class="nav-link" href=""></a>
                    {% endif %}

                </li>

            </ul>
            </li>

            </li>
            </ul>

            <form class="d-flex" role="search">

            </form>
        </div>
    </div>
</nav>
