{% extends "base.html" %}

{% block content %}

{{ posti['text'] }}
<div class="row mb-3">
    <img src="/static/{{posti['photo']}}"  width="50%" height="50%">
</div>

<div class="row mb-3">
    <div class="container text-center">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.comment.label }}
            {{ form.comment(class="form-control", placeholder=form.comment.label.text) }}
            {{ form.submit(class="btn btn-primary my-3") }}
        </form>
    </div>
</div>

<div class="row">
    {% for comment in comments %}
    <div class="col-12 my-2">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{ comment['username'] }}</h5>
                <p class="card-text">{{ comment['comment'] }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
